.main-heading {
  margin: 0;
  margin-bottom: calc(var(--size) * 0.6);

  color: var(--font-color);

  font-size: calc(var(--size) * 1.2);
  font-weight: 500;
  line-height: calc(var(--size) * 1.1);

  --size: clamp(1.625rem, 0.75vw + 1.4375rem, 2rem);
}

.modal-heading {
  text-align: center;

  font-size: var(--fsize);
  line-height: calc(var(--fsize) * 1.25);

  --fsize: clamp(1.25rem, 1vw + 1rem, 1.5rem);
}