*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $color-default-black;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}
