.faq {
  padding: 50px 0 0;
}

.faq__title {
  margin: 0 0 25px;
  padding: 0;
}

.faq__image {
  display: none;
}

.faq__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.faq__item {
  margin-bottom: 16px;
  padding: 15px 0 15px 15px;
  overflow: hidden;

  background-color: rgba($color-bg-grey, 0.3);
  border: 1px solid rgba($color-light-black, 0.2);
  border-radius: 10px;

  transition: border $default-transition;
}

.faq__wrapper {
  position: relative;

  padding-right: 60px;
}

.faq__answer-wrapper {
  overflow: hidden;

  transition: height 0.5s ease-in-out;
}

.faq__answer-wrapper[data-collapsed = true] {
  height: 0;
}

.faq__item button {
  position: absolute;
  top: calc(50% - 16px);
  right: 15px;

  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
  transform: rotate(-90deg);

  transition: transform $default-transition, box-shadow $default-transition;
}

.faq__item svg {
  transition: fill $default-transition;

  fill: $color-blue;;
}

.faq__item h3 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.faq__item p {
  margin: 0;
  padding-top: 15px;
  padding-right: 75px;
}

.faq__item--active {
  border: 1px solid rgba($color-green, 0.5);
}

.faq__item--active button {
  box-shadow: 0 0 5px 0 rgba($color-red, 0.8);
  transform: rotate(0);
}

.faq__item--active svg {
  fill: $color-red;
}

.faq__link {
  margin: 25px auto 0;
}

@media (min-width: $viewport--lg) {
  .faq__container {
    display: flex;
    flex-flow: row nowrap;
  }

  .faq__image {
    display: block;
    flex-shrink: 0;
    width: 50%;
  }

  .faq__list {
    flex-shrink: 0;
    width: 50%;
  }

  .faq__image img {
    width: 100%;
    height: 480px;

    object-fit: contain;
    object-position: center;
  }
}

@media (min-width: 1300px) {
  .faq__image {
    width: 40%;
  }

  .faq__list {
    width: 60%;
  }
}
