.faq {
  padding: 50px 0 0;

  background-color: $color-bg-grey;
}

.faq__title {
  margin: 0 0 25px;
  padding: 0;
}

.faq__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.faq__item {
  margin-bottom: 16px;
  padding: 15px 0 15px 15px;
  overflow: hidden;

  background-color: $color-default-white;
  border: 1px solid rgba($color-light-black, 0.2);
  border-radius: 10px;

  transition: border $default-transition;
}

.faq__wrapper {
  position: relative;

  padding-right: 60px;

  background-color: $color-default-white;
}

.faq__answer-wrapper {
  // height: 0;
  overflow: hidden;

  transition: all $slow-transition;

  &--hidden {
    height: 0;
  }
}

.faq__item button {
  position: absolute;
  top: calc(50% - 16px);
  right: 15px;

  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
  transform: rotate(-90deg);

  transition: transform $default-transition, box-shadow $default-transition;
}

.faq__item svg {
  transition: fill $default-transition;

  fill: $color-blue;;
}

.faq__item h3 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.faq__item p {
  margin: 0;
  padding-top: 15px;
  padding-right: 75px;
}

.faq__item--active {
  border: 1px solid rgba($color-green, 0.5);
}

.faq__item--active button {
  box-shadow: 0 0 5px 0 rgba($color-red, 0.8);
  transform: rotate(0);
}

.faq__item--active svg {
  fill: $color-red;
}

@mixin viewport-mf--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport-mf--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport-mf--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport-mf--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
}

.hidden {
  height: 0;

  transition: none;
}
