include ../blocks/head/head
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/services/services

doctype html
html(lang="ru")
  +head('ASKnet | Список страниц')
    meta(name="description" content="Список страниц данного сайта")
  body
    +header
    main
      +hero
      +services

