.help {
  --gap: clamp(
    0.75rem,
    1.5vw + 0.375rem,
    1.5rem
  );
  --fsize: clamp(1rem, 0.5vw + 0.875rem, 1.25rem)
}

.help__phone {
  font-size: calc(var(--fsize) * 1.4);
  font-weight: 500;
}

.help__attention {
  text-decoration: underline;

  font-size: calc(var(--fsize) * 1.2);

  text-underline-offset: 5px;
  text-decoration-color: var(--site-blue);
}

.help__content {
  margin: 0 0 var(--gap);

  font-size: var(--fsize);
  line-height: calc(var(--fsize) * 1.25);

  &:last-child {
    margin-bottom: 0;
  }
}

.help__list {
  margin: 0 0 var(--gap);

  font-size: var(--fsize);
  line-height: calc(var(--fsize) * 1.25);

  li {
    margin-bottom: calc(var(--gap) * 0.5);

    font-style: italic;

    &:last-child {
      margin-bottom: 0;
    }

    &::marker {
      color: var(--site-green);
  }
  }
}
