.login {
  display: grid;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  min-height: calc(var(--vh, 1vh) * 100);

  h2 {
    margin: 0 0 8px;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  
  p {
    margin: 0;

    color: var(--font-color-light);

    font-size: 1rem;
    line-height: 1.25rem;
  }
  
  form {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    padding: 2rem 0;
  }
}

.login__container {
  max-width: 800px;
}

.login__error {
  position: absolute;
  bottom: calc(var(--line-height) * -1.8);
  left: 0;

  text-align: center;
  text-transform: lowercase;

  color: var(--color-red);

  font-size: 1rem;
  --line-height: 1.25rem;
  line-height: var(--line-height);
}
