.pay {
  max-width: 1024px;
  margin: 0 auto;
  --margin: calc(var(--fsize) / 2);
  --padding: calc(var(--fsize) / 2);

  --fsize: clamp(1.5rem, 1vw + 1.25rem, 2rem);
}

.pay__content {
  margin: 0;
  margin-bottom: var(--margin);

  color: var(--font-color-light);

  font-size: calc(var(--fsize) * 0.8);
  line-height: var(--fsize);
}
.pay__list {
  display: flex;
  flex-flow: column nowrap;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: var(--padding);
}
.pay__method {
  padding: calc(var(--padding) * 1.5);

  border-radius: 5px;
  box-shadow: var(--card-shadow);
  h2 {
    margin: 0;
    margin-bottom: var(--margin);

    color: var(--font-color);

    font-size: calc(var(--fsize) * 0.8);
    font-weight: 500;
  }
  p {
    margin: 0;

    color: var(--font-color-light);

    font-size: calc(var(--fsize) * 0.6);
    font-style: italic;
    line-height: calc(var(--fsize) * 0.8);
    
    &:not(:last-child) {
      margin-bottom: var(--margin);
    }
  }
}
.pay__req {
  display: flex;
  flex-flow: column nowrap;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 5px;
}
.pay__req-item {
  display: flex;
  flex-flow: column nowrap;

  margin-bottom: calc(var(--margin) * 0.5);
  padding: 2px;

  border-bottom: 1px solid rgba(32, 150, 243, 0.5);

}
.pay__req-heading {
  color: var(--font-color-light);
}
.pay__req-body {
  font-weight: 500;
}
