.user {
  max-width: 1024px;
  margin: 0 auto;

  --fsize: clamp(1.5rem, 1vw + 1.25rem, 2rem);
  --marginBottom: calc(var(--fsize) / 4);
}
.user__title {
  margin: 0 0 calc(var(--marginBottom) * 4);

  color: var(--font-color-light);

  font-size: var(--fsize);
  font-weight: 500;
  line-height: calc(var(--fsize) * 1.1);
}
.user__pi {
  margin-bottom: calc(var(--marginBottom)*4);
}
.user__fio {
  margin: 0 0 var(--marginBottom);

  color: var(--font-color);

  font-size: calc(var(--fsize) * 1.2);
  font-weight: 700;
  line-height: calc(var(--fsize) * 1.3);
}
.user_address,
.user__phone {
  margin: 0 0 var(--marginBottom);

  font-size: calc(var(--fsize) * 0.7);
  line-height: calc(var(--fsize) * 0.8);
}
.user__phone {
}
.user__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.user__item {
  position: relative;

  display: grid;
  overflow: hidden;
  align-items: center;

  min-height: 72.8px;
  margin-bottom: calc(var(--marginBottom)*3);
  padding: 1rem 1.2rem;

  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-v2);

  grid-template-areas: "a b";
  grid-template-columns: 1fr 1.2fr;

  & span:first-of-type {
    color: var(--font-color-light);

    font-size: calc(var(--fsize)*0.8);
    font-style: italic;

    grid-area: a;
  }

  & span:nth-of-type(2) {
    text-align: center;

    color: var(--site-blue);

    font-size: calc(var(--fsize)*1.2);
    font-weight: 500;
    line-height: calc(var(--fsize)*1.3);

    grid-area: b;
  }

  &--next {
    & span:nth-of-type(2) {
      font-size: calc(var(--fsize)*0.8);
      line-height: calc(var(--fsize)*0.8);
    }
  }
  &--tarif {
    & span:nth-of-type(2) {
      font-size: calc(var(--fsize)*1);
      line-height: calc(var(--fsize)*1.1);
    }
  }
}

.user__tarif-heading {
  margin: 0 0 calc(var(--marginBottom) * 4);

  color: var(--font-color-light);

  font-size: var(--fsize);
  font-weight: 500;
  line-height: calc(var(--fsize) * 1.1);
}
.user__tarif-list {
}
