.site-title {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  color: $color-light-black;
}

@include viewport-mf--md {
  .site-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
